.breakout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.breakout .leftSide {
    display: flex;
    flex-grow: 2;
    width: 45%;
    max-width: 45%;
    padding: 10px;
}
  
.breakout .rightSide {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
